 
 $thumb_border:#7d97e1;

.v-mini-gallery{
		overflow: hidden;
		.uk-slideshow-items{
			border: 5px solid #eceff1;

		}
}
.v-card-shadow-1{
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.v-bg-blue-grey-1{
	background-color: #f9f9f9;
}
.v-mini-gallery-thums{
	display: flex;
	justify-content: center;
	height: 64px;
	// border: 5px solid #636b7c;
	// border: 5px solid #eceff1;
	// padding: 3px;
	position: absolute;
	// background-color: #404550;
	background-color: rgba(0, 0, 0,.8);
	bottom: 5px;
	right: 5px;
	left: 5px;
	z-index: 1;
	li{
		position: relative;
		height: 60px;
		border: 2px solid transparent;
		padding-left: 0;
		margin-left: 5px;
		z-index: 2;
		a:after{
			background:transparent!important;
		}
		&:first-child{
			margin-left: 0;
		}
		&.uk-active{
			border-color: $thumb_border;
			&:before{
				position: absolute;
				// width: 8px;
				// height: 8px;
				content: ' ';
				border: 8px solid $thumb_border;
				top: -16px;
				left: 50%;
				margin-left: -8px;
				border-left-color:transparent;
				border-right-color:transparent;
				border-top-color:transparent;
			}
		}
	}
	img{
	}
	a{
		overflow: hidden;
		height: 60px;
		width: 100px;
	}
}