
#v-main{
	margin-top: 20px;
	margin-bottom: 20px;
}
.v-el{
	padding-left: 10px;
	&:first-child{
		padding-left: 40px;
	}
}

.widget_meta{
	li{
		list-style:none;
	}
	li:last-child{
		display: none;
	}
}